<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yozora7.lanfirewallmgr.mybatis.RuleDao">
    <!-- create table -->
    <update id="createTable">
        CREATE TABLE IF NOT EXISTS rule (
                id INT(10) NOT NULL AUTO_INCREMENT,
                name VARCHAR(255),
                src_zone_id TEXT,
                dst_zone_id TEXT,
                src_net_id TEXT,
                dst_net_id TEXT,
                src_set_id TEXT,
                dst_set_id TEXT,
                service_id TEXT,
                action VARCHAR(255),
                PRIMARY KEY (id),
                UNIQUE KEY IDX_NAME(name)) ENGINE=InnoDB AUTO_INCREMENT=0 DEFAULT CHARSET=utf8mb4;
    </update>

    <!-- select id -->
    <select id="queryId" parameterType="pers.yozora7.lanfirewallmgr.entity.Rule" resultType="int">
        SELECT id FROM rule WHERE name = #{name} LIMIT 1;
    </select>

    <!-- count -->
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM rule;
    </select>

    <!-- insert -->
    <update id="insert" parameterType="pers.yozora7.lanfirewallmgr.entity.Rule"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO rule (name, src_zone_id, dst_zone_id, src_net_id, dst_net_id, src_set_id, dst_set_id,
                          service_id, action)
            VALUES (#{name}, #{srcZoneId}, #{dstZoneId}, #{srcNetId}, #{dstNetId}, #{srcSetId}, #{dstSetId},
                    #{serviceId}, #{action});
    </update>
</mapper>